@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.btn {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: $button-size;
  height: $button-size;
  padding: 5px;
  border: 1px solid var(--color-btn-border);
  border-radius: $border-radius;

  background: var(--color-btn);
  box-shadow: $box-shadow;

  transition: all 0.4s;

  &:hover {
    transform: translateY(-2px);
    background: var(--color-btn-hover);
    box-shadow: $box-shadow-hover;
  }

  @include font-style;
}
