@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.container {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: $gap-size;
  align-items: flex-end;

  box-sizing: border-box;
  width: 100%;
  min-width: 200px;
  max-width: 200px;
  padding: 10px;
  border: 1px solid $color-btn-light-border;
  border-radius: $border-radius;

  background-color: $color-btn-light;
  box-shadow: $box-shadow;
}

.result,
.display {
  overflow: auto;

  width: 100%;
  min-height: 24px;
  margin: 0;

  line-height: 24px;
  text-align: right;
  white-space: nowrap;

  mask-image: linear-gradient(to left, black 80%, transparent);

  &::-webkit-scrollbar {
    display: none;
  }

  @include font-style;
}
