@use '@/shared/styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;

  width: 100%;
  max-width: 500px;
}

.result,
.display {
  margin: 0;

  @include font-style;
}
