$font-stack: 'Josefin Sans', sans-serif;
$font-color: #54351f;
$font-size: 16px;
$font-weight: 400;
$font-weight-bold: 700;
$color-bg-light: linear-gradient(180deg, #839371 0%, #505a44 100%) fixed;
$color-btn-light: #f6ebd5;
$color-btn-light-hover: #fcf9f2;
$color-btn-light-border: #c0c8a2;
$color-option-light: #b5bf92;
$color-option-light-hover: #b4bc98;
$border-radius: 12px;
$box-shadow: rgb(0 0 0 / 40%) 0px 10px 20px 0px;
$box-shadow-hover: rgb(0 0 0 / 40%) 0px 5px 10px 0px;
