@use '@/shared/styles/variables.scss' as *;
@use '@/shared/styles/mixins' as *;

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-bg);

  @include font-style;
}
