@use '@/shared/styles/variables.scss' as *;
@use '@/shared/styles/mixins' as *;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $color-bg-light;

  @include font-style;
}
