@use '@/shared/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $gap-size;
}

.operation {
  background-color: $color-option-light;

  &:hover {
    background-color: $color-option-light-hover;
  }
}

.img {
  width: $icon-size;
  height: $icon-size;
}
