@use '@/shared/styles/variables' as *;

.operation {
  background-color: var(--color-option);

  &:hover {
    background-color: var(--color-option-hover);
  }
}

.img {
  width: $icon-size;
  height: $icon-size;
}
